In [1]:
#que 1

In [2]:
#a string

In [3]:
a= 'abc'

In [4]:
#b list

In [5]:
b=['a' ,'b',5,6]

In [6]:
#c float

In [7]:
c = 52.56

In [8]:
#d tupples

In [9]:
d =(1,2,3)

In [10]:
#que 2
#(i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1

In [11]:
# 1 = str
# 2= str
# 3= list
# 4=int

In [12]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [13]:
# 1= divid
# 2= reminder
# 3=quotient
# 4= exponational

In [14]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [15]:
h= [1,'a' , 5.5, True ,(56), 'abc' , 55,]

In [16]:
h1= []
for i in h:
    print(type(i))
    h1.append(type(i))
h1

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'str'>
<class 'int'>

[int, str, float, bool, int, str, int]

In [17]:
h1

[int, str, float, bool, int, str, int]

In [18]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [27]:
a = 55
b= 7
while (a>b):
    if a/b==0:
        print('a/b is done')
        print(a//b)
    elif a//b!=0:
        print(f'a%b is something')
        print(a//b)
        break

a%b is something
7

In [26]:
a = 69
b= 3
while (a>b):
    if a%b==0:
        print('a/b is done')
        print(a//b)
        break
    elif a//b!=0:
        print(f'a%b is something')
        break

a/b is done
23

In [21]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [28]:
num = list(range(26))
c=[]
d=[]

In [29]:
for i in num:
    if i%3==0:
        print(i)
        c.append(i)
    elif i%3!=0:
        print(i)
        d.append(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [30]:
c

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [31]:
d

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

In [32]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [ ]:
# mutable data type ex list, set and unmutable data type like str
# in mutable - we can replace the value by new value
# in unmutable - we cannt replace the value by new value